div#header {
  background-image: none;
}

#header #branding {
  background: #909b19 url('../img/web_design/templatemo_header.jpg') 90px -302px no-repeat;
}
#header #branding h1#site-name {
  padding: 7px 0 0 0;
  color: #fff;
  background: url('../img/django-fluent-small.png') 10px 4px no-repeat;
  width: 270px;
}

.module h2, .module caption, .inline-group h2 {
  background-color: #8e991c;
  background-image: -moz-linear-gradient(top, #8b961d, #939e1b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8b961d), to(#939e1b));
  background-image: -webkit-linear-gradient(top, #8b961d, #939e1b);
  background-image: -o-linear-gradient(top, #8b961d, #939e1b);
  background-image: linear-gradient(to bottom, #8b961d, #939e1b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B961D', endColorstr='#FF939E1B', GradientType=0);
}

.button.default,
input.default[type="submit"],
.submit-row input.default {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #9fa933;
  background-image: -moz-linear-gradient(top, #939e1b, #b2ba58);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#939e1b), to(#b2ba58));
  background-image: -webkit-linear-gradient(top, #939e1b, #b2ba58);
  background-image: -o-linear-gradient(top, #939e1b, #b2ba58);
  background-image: linear-gradient(to bottom, #939e1b, #b2ba58);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF939E1B', endColorstr='#FFB2BA58', GradientType=0);
  border-color: #b2ba58 #b2ba58 #858c3a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #b2ba58;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-width: 1px;
}
.button.default:hover, .button.default:active, .button.default.active, .button.default.disabled, .button.default[disabled],
input.default[type="submit"]:hover,
input.default[type="submit"]:active,
input.default[type="submit"].active,
input.default[type="submit"].disabled,
input.default[type="submit"][disabled],
.submit-row input.default:hover,
.submit-row input.default:active,
.submit-row input.default.active,
.submit-row input.default.disabled,
.submit-row input.default[disabled] {
  color: white;
  background-color: #b2ba58;
  *background-color: #a7b049;
}
.button.default:active, .button.default.active,
input.default[type="submit"]:active,
input.default[type="submit"].active,
.submit-row input.default:active,
.submit-row input.default.active {
  background-color: #969e41 \9;
}
.button.default:active,
input.default[type="submit"]:active,
.submit-row input.default:active {
  background-image: none;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}

.login #container {
  min-height: 0;
}

#footerspace {
  padding-bottom: 40px;
}

#footer {
  color: #aaa;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
