/*
Credit: http://www.templatemo.com
*/

body {
  margin: 0px;
  padding: 0px;
  background: image-url("web_design/templatemo_body.jpg");
  background-color: #dbdbdd;
  background-position: top;
  background-repeat: repeat-x;
}

// (part here moved to typography)

.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.detail {
  display: block;
  width: 128px;
  height: 51px;
  padding: 9px 0 0 0;
  text-align: center;
  color: #ffc;
  font-size: 18px;
  background: image-url("web_design/templatemo_button_01.png");

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.float_l { float: left }
.float_r { float: right }

.image_wrapper {
  display: inline-block;
  border: 5px solid #a0a93c;
  margin-bottom: 5px;
}

.image_fl {
  float: left;
  margin: 3px 30px 0 0;
}

.image_fr {
  float: right;
  margin: 3px 0 0 30px;
}

.testimonial {
  font-size: 16px;
  line-height: 30px;
}

#templatemo_body_wrapper {
  width: 100%;
  background: image-url("web_design/templatemo_header.jpg") center top no-repeat;
}

#templatemo_wrapper {
  width: 984px;
  margin: 0 auto;
  background: image-url("web_design/templatemo_header.jpg") center top no-repeat;
}

#tempaltemo_header {
  position: relative;
  width: 984px;
  height: 325px;
  background: image-url("web_design/templatemo_header.jpg") no-repeat center top;
}

#header_icon {
  position: absolute;
  top: 130px;
  left: 660px;
  width: 220px;
  height: 197px;
  background: image-url("fluent_monitor.png");  // was: web_design/monitor_icon.png
}

#header_content {
  float: left;
  margin: 130px 0 0 90px;
  width: 460px;
}

#site_title a {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}

#header_content p {
  font-size: 18px;
  color: #fff;
  text-align: justify;
}

#templatemo_main_top {
  width: 984px;
  height: 30px;
  background: image-url("web_design/templatemo_content_top.png") no-repeat;
}

#templatemo_main_bottom {
  width: 984px;
  height: 30px;
  background: image-url("web_design/templatemo_content_bottom.png") no-repeat;
}

#templatemo_main {
  position: relative;
  width: 900px;
  padding: 10px 42px;
  background: image-url("web_design/templatemo_content_middle.png") repeat-y;
}

#main_top {
  position: absolute;
  left: 289px;
  top: 0px;
  width: 13px;
  height: 364px;
  background: image-url("web_design/templatemo_sidebar_top.jpg") 0 -30px no-repeat;
}

#main_bottom {
  position: absolute;
  left: 289px;
  bottom: 0px;
  width: 13px;
  height: 364px;
  background: image-url("web_design/templatemo_sidebar_bottom.jpg") 0 scroll no-repeat;
}

#templatemo_sidebar {
  float: left;
  width: 235px;
}

.sidebar_box {
  clear: both;
  width: 235px;
  margin-bottom: 30px;
}

.sb_title {
  width: 175px;
  height: 20px;
  padding: 9px 30px;
  font-size: 18px;
  color: #666666;
  background: image-url("web_design/templatemo_sidebar_box_top.jpg") no-repeat top left;
}

.sb_content {
  padding: 20px 30px;
  background: image-url("web_design/templatemo_sidebar_box_middle.jpg") repeat-y left;
}

.sb_bottom {
  height: 8px;
  background: image-url("web_design/templatemo_sidebar_box_bottom.jpg") no-repeat top left;
}

/* menu */

#templatemo_menu {
  width: 235px;
  margin-bottom: 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 10px 0 0;
      margin: 0;
      display: block;
      background: image-url("web_design/templatemo_menu_divider.jpg") left bottom no-repeat;

      a {
        display: block;
        height: 36px;
        padding: 0 0 0 30px;
        font-size: 16px;
        color: #444444;
        text-decoration: none;
        font-weight: normal;
        outline: none;
        border: none;

        &:hover {
          padding-left: 60px;
          color: #777700;
          background: image-url("web_design/templatemo_menu_hover.png") left top no-repeat;
        }
      }

      // Submenu
      ul {
        padding: 0 0 2px 0;
      }

      li {
        text-indent: 20px;
        background-image: none;
        padding-top: 0px;
        min-height: 34px;

        a {
          font-size: 14px;
          line-height: 1;
        }
      }
    }

    .active > a {
      padding-left: 60px;
      color: #777700;
      background: image-url("web_design/templatemo_menu_hover.png") left top no-repeat;
    }
  }
}

/* end of menu */

.sb_news_box {
  border-bottom: 1px solid #ccc;
  padding: 0 0 20px 25px;
  margin-bottom: 20px;
  background: image-url("web_design/templatemo_news.png") top left no-repeat;

  a {
    color: #333;
  }

  time {
    display: block;
    color: #8e9924;
  }
}

.last_box {
  margin: 0;
  padding-bottom: 0;
  border: none;
}

#templatemo_content {
  float: right;
  width: 610px;
}

.content_box {
  padding-bottom: 30px;
  margin-bottom: 30px;
  background: image-url("web_design/templatemo_horizontal_divider.jpg") center bottom no-repeat;
}

h2 {
  &.title_icon {
    padding: 15px 0 15px 60px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center left;
  }
}

.col_w290 {
  width: 260px;
  padding-right: 30px;
  background: image-url("web_design/templatemo_vertical_divider.jpg") center right no-repeat;

  & + .col_w290 {
    margin-left: 30px;  // as float_r
  }

  &:nth-child(2n+1) {
    background: none;   // NOTE: quick fix for .cw290_last.
  }
}

.cw290_last {
  background: none;
}

#gallery a {
  display: block;
  float: left;
  margin-right: 30px;

  img {
    border: 5px solid #ccc;
  }
}

/* footer */

#templatemo_footer_wrapper {
  clear: both;
  width: 100%;
  border-left: none;
  border-right: none;
  background: #252525;
  margin-top: 20px;
}

#templatemo_footer {
  width: 984px;
  margin: 0 auto;
  text-align: center;
  color: #CCCCCC;
  padding: 5px 0;

  a {
    color: #CCCCCC;
  }
}
