*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info/
*.sql.gz
.coverage
*.secrets
.cache/
.project
.idea/
.pydevproject
.idea/workspace.xml
.DS_Store
.sass-cache/
.vagrant/
/dist/
/docs/_build/
/env/
/logs/
/src/djangofluent/settings/local.py
/src/node_modules/
/web/media
/stats/
