# Install with: `pip install -r requirements.txt`

# Essential files
Django==1.4.5
Pillow==1.7.8
MySQL-python==1.2.3
South==0.7.6
django-compressor==1.2
python-memcached==1.48
pytz==2012j
sorl-thumbnail==11.12

# Admin tools / dashboard
django-fluent-dashboard==0.3.2
django-admin-tools==0.4.1
dashboardmods==0.2.2

# CMS apps
django-mptt==0.5.5
django-polymorphic==0.3.1
django-polymorphic-tree==0.8.6
django-fluent-contents==0.8.4
django-fluent-pages==0.8.1
django-wysiwyg==0.5.1
django-tinymce==1.5.1b4

# Blog
django-categories==1.1.4
-e git+https://github.com/edoburu/django-fluent-blogs.git#egg=django_fluent_blogs-dev
django-fluent-comments==0.8.0
django-taggit==0.9.3
django-taggit-autocomplete-modified==0.1.0b4

# Debugging
django-debugtools==1.1.0
bpython==0.11

# Extra apps for this site
django-any-imagefield==0.8.0
django-any-urlfield==1.0.2
django-crispy-forms==1.2.3

-e git+https://github.com/clintecker/django-google-analytics.git@140787ba86ef4995b2cabf927bf0b56ec7728348#egg=google_analytics-dev
-e git+https://github.com/wardi/django-filebrowser-no-grappelli.git@5b2bac4220fe7cd05b4f208da7f5478387e0ead0#egg=django_filebrowser_no_grappelli-dev
