{% load thumbnail %}
<div class="imagetext clearfix">
    {% thumbnail instance.image "238x106" crop="center" as im %}
        <a href="{{ instance.image.url }}" class="screenshot"><img class="image_wrapper {{ instance.image_css_class }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></a>
    {% endthumbnail %}

    <h5>{{ instance.title }}</h5>
    {{ instance.body|safe }}

    {% if instance.url %}
      <p><a href="{{ instance.url }}">{{ instance.url_text|default:"Read more" }}</a></p>
    {% endif %}
</div>
