@charset "utf-8";

// Place any styles here that should only be used for textual content.
// The default styles come from: bootstrap/_type.scss
// Also consider overriding the variables, so bootstrap styles are rendered correctly.

body {
  color: #666;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  line-height: 1.7em;
}

a {
  color: #777700;
  text-decoration: none;

  &:link, &:visited {
    color: #777700;
    text-decoration: none;
  }

  &:hover {
    color: #0066FF;
    text-decoration: underline;
  }
}

p {
  margin: 0 0 10px 0;
  padding: 0;
}

img {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #252323;
  font-weight: normal;
}

h1 {
  font-size: 34px;
  margin: 0 0 30px 0;
  padding: 5px 0;
}

h2 {
  font-size: 26px;
  margin: 0 0 30px 0;
  padding: 0;
}

h3 {
  font-size: 21px;
  margin: 0 0 25px;
  padding: 0;
}

h4 {
  font-size: 18px;
  margin: 0 0 15px;
  padding: 0;
}

h5 {
  font-size: 16px;
  margin: 0 0 5px;
  padding: 0;
  color: #606711;
}

h6 {
  font-size: 14px;
  margin: 0 0 5px;
  padding: 0;
}

blockquote {
  font-style: italic;
  margin-left: 10px;
}

cite {
  font-weight: bold;
  color: #000;
  span {
    color: #333;
  }
}

em {
  color: #000;
}


// Headings

h1, h2, h3, h4 {
  clear: both;

  a {
    // for blog:
    text-decoration: none;

    &:link,
    &:visited {
      color: #252323;
    }

    &:hover {
      color: #0066FF;
    }
  }
}


/* ---- plugins ---- */


// Text plugin

.text {
  clear: both;
  padding-top: 1px;
  margin-top: -1px;

  h2, h3 {
    margin-bottom: 10px;

    &:first-child {
      margin-top: 0;
    }

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  ul {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
  }

  li {
    color: #666;
    margin: 0 0 2px;
    padding: 0 0 3px 25px;
    background: transparent image-url("web_design/templatemo_list.png") no-repeat scroll 0 3px;
  }

  blockquote {
    font-style: normal;
    margin: 2em 0 2em 2em;
  }

  kbd {
    color: #888;
  }
}


// Code plugin

pre, code, kbd {
  /* use something more modern then Courier New */
  font-family: "Consolas", "Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}


// Iframe, Google docs

iframe {
  border: 1px solid #ccc;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


// Picture plugin

figure.picture {
  // Picture plugin in the CMS
  margin: ($padding-base-vertical * 3) 0 ($padding-base-vertical * 3) 0;

  figcaption {
    text-align: center;
    color: $gray-dark;
    font-size: ($font-size-base + 1px);
    margin: $padding-large-vertical 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  &.align-left {
    clear: left;
    float: left;
    margin: 0 1em 1em 0;
  }

  &.align-right {
    clear: right;
    float: right;
    margin: 0 0 1em 1em;
  }

  &.align-center {
    text-align: center;
  }

  + figure.picture {
    &.align-left,
    &.align-right {
      clear: none;
    }
  }
}
