// All variables that are used throughout the CSS.
//
// This file also overrides Bootstrap variables.
// For a complete overview of all variables to override, see:
// * node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
// * https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

// mixins
$image-url-path: '../img/';
$fonts-url-path: '../fonts/';

$btn-primary-bg: #939E1B;
$btn-primary-bg2: #B2BA58;


// Base settings
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-handwritten: "Playball", cursive;
$font-size-base: 14px;
$line-height-base: (20 / 14);

// Base colors
$body-bg: #dbdbdd;
$text-color: #666;

$brand-primary: #939E1B;
$brand-secondary: #B2BA58;

// Links
$link-color: #777700;
$link-hover-color: #0066FF;
