@charset "utf-8";

$header_link_hover: #666;
$error_text_color: #B94A48;


/* ---- Meyer-based reset ---- */

span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, tt, var,
center, dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---- extra resets and utils ---- */

:focus       { outline: 0; }
a[name]      { padding: 0; }
textarea     { overflow: auto; }
* html table { font-size: 100%; }

img, a img, object {
  border: 0;
  vertical-align: bottom;
}

.clearfix:after {
  content:      ".";
  font-size:    0;
  line-height:  0;
  display:      block;
  height:       0;
  clear:        both;
  visibility:   hidden;
}

* html .clearfix { height:     1%; }
*+html .clearfix { min-height: 0;  }


/* containers */

h1, h2, h3, h4 {
  clear: both;

  a {
    // for blog:
    text-decoration: none;

    &:link,
    &:visited {
      color: #252323;
    }

    &:hover {
      color: #0066FF;
    }
  }
}
