/* ---- styling of ContentItem plugins ---- */

#div_id_honeypot {
  display: none;  // django.contrib.comments
}


// Image+Text plugin

.imagetext {
  margin: 0 0 2em 0;
}


// PackageItem

.packageitem {
  float: left;
  width: 20em;
  margin: 0em 2em 2em 0;

  h3 {
    margin: 15px 0 15px;
  }

  .externalmarker {
    font-variant: small-caps;
    font-size: 10px;
    vertical-align: top;
  }

  p {
    margin: 0 0 1em 0;
  }

  nav a {
    margin: 0 5px;
  }
}

#container .packageitem h3 {
  margin-bottom: 0.2em;
}


// Picture plugin

figure.picture {
  // Picture plugin in the CMS
  margin: 1em;

  &.align-left {
    clear: left;
    float: left;
    margin: 0 1em 1em 0;
  }

  &.align-right {
    clear: right;
    float: right;
    margin: 0 0 1em 1em;
  }

  &.align-center {
    text-align: center;
  }
}


// Text plugin

.text {
  clear: both;
  padding-top: 1px;
  margin-top: -1px;

  h2, h3 {
    margin-bottom: 10px;

    &:first-child {
      margin-top: 0;
    }

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  ul {
    margin: 0 0 1em 0;
  }

  blockquote {
    font-style: normal;
    margin: 2em 0 2em 2em;
  }

  kbd {
    color: #888;
  }
}


// Code plugin

pre, code, kbd {
  /* use something more modern then Courier New */
  font-family: "Consolas", "Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}


// Iframe, Google docs

iframe {
  border: 1px solid #ccc;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
