{% load thumbnail %}
<div class="imagetext clearfix">
    {% thumbnail instance.image "238x106" crop="center" as im %}
      {% spaceless %}
        {% if instance.url %}<a href="{{ instance.url }}">{% endif %}
        <img class="image_wrapper image_fl" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
        {% if instance.url %}</a>{% endif %}
      {% endspaceless %}
    {% endthumbnail %}

    <h5>{{ instance.title }}</h5>
    {{ instance.body|safe }}

    {% if instance.url %}
      <p><a href="{{ instance.url }}">{{ instance.url_text|default:"Read more" }}</a></p>
    {% endif %}
</div>
