# Install with: `pip install -r requirements.txt`

# Infrastructure
Django >= 1.6.5
Pillow==2.5.3
psycopg2==2.5.3
python-memcached==1.53
South==1.0

# WSGI container, install in virtualenv to have latest features.
# Needs `export UWSGI_PROFILE=default` to build python plugin (deploy scripts do this automatically)
uwsgi >= 2.0.6

# CMS libraries
django-fluent-blogs >= 1.0b2
django-fluent-pages >= 0.9b2
django-fluent-contents[code,text,oembeditem] >= 1.0c2
django-fluent-dashboard >= 0.3.6
django-fluent-comments >= 1.0a2
django-staff-toolbar >= 1.0

# Support libs
django-admin-tools == 0.5.2
django-any-imagefield==0.8.2
django-any-urlfield>=2.0.1
django-axes==1.3.6
django-categories==1.2.2
django-crispy-forms==1.4.0
#dashboardmods >= 0.2.2
django_compressor==1.4
-e git+https://github.com/clintecker/django-google-analytics.git@140787ba86ef4995b2cabf927bf0b56ec7728348#egg=google_analytics-0.2
-e git+https://github.com/smacker/django-filebrowser-no-grappelli.git@d68ffc7fa7c4096791cc6819ab2b2229b1661c68#egg=django-filebrowser-no-grappelli
django-singleton-admin
django-parler>=1.0
django-taggit==0.12.1
django-taggit-autosuggest==0.2.5
django-threadedcomments==0.9.0
django-tinymce >= 1.5.2
django-wysiwyg == 0.7.0
html5lib >= 1.0b3
micawber >= 0.3.0
pytz>=2014.7
sorl-thumbnail==11.12.1b

# Debugging
django-debugtools >= 1.2
bpython>=0.13.1
